Flask==2.3.2
Flask-Cors==3.0.10
requests==2.31.0
python-dateutil==2.8.2
python-dotenv==1.0.0
flask-jwt-extended==4.5.2
bcrypt==4.0.1
psycopg2-binary==2.9.9
smtplib==0.1.0
email-validator==2.0.0.post2
pyotp==2.8.0
qrcode==7.4.2
